{
  "openapi": "3.0.1",
  "info": {
    "title": "Bokjipang API",
    "description": "복지팡을 위한 API 테스트 페이지",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.bluemango.me/"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Authentication"
    },
    {
      "name": "main",
      "description": "Main page"
    }
  ],
  "paths": {
    "/auth/checkphone": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Check phone number exist",
        "operationId": "checkPhone",
        "requestBody": {
          "description": "Phone number",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Check_phone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_phone_return_false"
                }
              }
            }
          },
          "403": {
            "description": "Duplicate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_phone_return_true"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/enroll": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register new user",
        "operationId": "enroll",
        "requestBody": {
          "description": "User form data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Enroll_user_data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enroll_return_true"
                }
              }
            }
          },
          "403": {
            "description": "Fail to enroll",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enroll_return_false"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Login",
        "operationId": "login",
        "requestBody": {
          "description": "Login to user account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login_return_success"
                }
              }
            }
          },
          "403": {
            "description": "Invalid phone number or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login_return_failed"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/check": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check token or get user data",
        "operationId": "check",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success to login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_return_success"
                }
              }
            }
          },
          "403": {
            "description": "Invalid phone number or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_return_failed"
                }
              }
            }
          }
        }
      }
    },

    "/main": {
      "get": {
        "tags": [
          "main"
        ],
        "summary": "Get main page data",
        "operationId": "main",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Check_phone": {
        "title": "Check phone",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          }
        },
        "description": "User's phone number that want to check if there any duplicant"
      },
      "Check_phone_return_true": {
        "title": "Check phone return true",
        "type": "object",
        "properties": {
          "exist": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Result if there are duplicant"
      },
      "Check_phone_return_false": {
        "title": "Check phone return false",
        "type": "object",
        "properties": {
          "exist": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Result if there are no duplicant"
      },
      "Enroll_user_data": {
        "title": "Enroll user data",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "password": {
            "type": "string",
            "example": "asdf"
          },
          "name": {
            "type": "string",
            "example": "서강준"
          },
          "gender": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "age": {
            "type": "integer",
            "format": "int32",
            "example": 25
          },
          "address": {
            "type": "string",
            "example": "서울특별시 노원구 월계동 광운로 7길 14-4 B03"
          },
          "interest": {
            "$ref": "#/components/schemas/Interest"
          }
        },
        "description": "New user's data who want to register"
      },
      "Interest": {
        "title": "Interest",
        "type": "object",
        "properties": {
          "고령자": {
            "type": "boolean"
          },
          "한부모": {
            "type": "boolean"
          }
        },
        "description": "Interest that selected by user"
      },
      "Enroll_return_true": {
        "title": "Enroll return true",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Result if enrollment was success"
      },
      "Enroll_return_false": {
        "title": "Enroll return false",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Result if enrollment was failed"
      },
      "Login": {
        "title": "Login",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "password": {
            "type": "string",
            "example": "asdf"
          }
        },
        "description": "User's phone number and password to login"
      },
      "Login_return_success": {
        "title": "Login return success",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "logged in successfully"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        },
        "description": "Return data when login process was success"
      },
      "Login_return_failed": {
        "title": "Login return failed",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "login failed"
          },
          "success": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Return data when login process was failed"
      },
      "Check_return_success": {
        "title": "Check return success",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "info": {
            "$ref": "#/components/schemas/User_data_info"
          }
        }
      },
      "Check_return_failed": {
        "title": "Check return failed",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "not logged in"
          }
        }
      },
      "User_data_info": {
        "title": "User data info",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "name": {
            "type": "string",
            "example": "서강준"
          },
          "interest": {
            "$ref": "#/components/schemas/Interest"
          },
          "iat": {
            "type": "integer",
            "format": "int32",
            "example": 1615966303
          },
          "exp": {
            "type": "integer",
            "format": "int32",
            "example": 1616571103
          },
          "iss": {
            "type": "string",
            "example": "bluemango.me"
          },
          "sub": {
            "type": "string",
            "example": "userInfo"
          }
        }
      },
      "Zzim_list": {
        "title": "Zzim List",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "저소득층 지원사업"
          },
          "content": {
            "type": "string",
            "example": "돈줍니다"
          }
        }
      },
      "Board_list": {
        "title": "Board List",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          }
        }
      },
      "Highest_post": {
        "title": "Highest Post",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "category": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "like": {
            "type": "integer",
            "format": "int32",
            "example": 10
          }
        }
      },
      "main": {
        "title": "Main Data",
        "type": "object",
        "properties": {
          "board": {
            "type": "object",
            "properties": {
              "0": {
                "$ref": "#/components/schemas/Board_list"
              },
              "1": {
                "$ref": "#/components/schemas/Board_list"
              },
              "2": {
                "$ref": "#/components/schemas/Board_list"
              },
              "3": {
                "$ref": "#/components/schemas/Board_list"
              },
              "4": {
                "$ref": "#/components/schemas/Board_list"
              },
              "5": {
                "$ref": "#/components/schemas/Board_list"
              }
            }
          },
          "zzim": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Zzim_list"
            }
          },
          "high": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Highest_post"
            }
          }
        }
      }
    }
  }
}
