{
  "openapi": "3.0.1",
  "info": {
    "title": "Bokjipang API",
    "description": "복지팡을 위한 API 테스트 페이지",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bluemango.site/"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Authentication"
    },
    {
      "name": "main",
      "description": "Main page"
    },
    {
      "name": "board",
      "description": "Board page"
    },
    {
      "name": "support",
      "description": "Support page"
    },
    {
      "name": "user",
      "description": "User data"
    },
    {
      "name": "update",
      "description": "Support page"
    }
  ],
  "paths": {
    "/auth/checkphone": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Check phone number exist",
        "operationId": "checkPhone",
        "requestBody": {
          "description": "Phone number",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Check_phone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_phone_return_false"
                }
              }
            }
          },
          "403": {
            "description": "Duplicate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_phone_return_true"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/enroll": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register new user",
        "operationId": "enroll",
        "requestBody": {
          "description": "User form data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Enroll_user_data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enroll_return_true"
                }
              }
            }
          },
          "403": {
            "description": "Fail to enroll",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enroll_return_false"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Login",
        "operationId": "login",
        "requestBody": {
          "description": "Login to user account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login_return_success"
                }
              }
            }
          },
          "403": {
            "description": "Invalid phone number or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login_return_failed"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/auth/check": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check token or get user data",
        "operationId": "check",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success to login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_return_success"
                }
              }
            }
          },
          "403": {
            "description": "Invalid phone number or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check_return_failed"
                }
              }
            }
          }
        }
      }
    },
    "/main": {
      "get": {
        "tags": [
          "main"
        ],
        "summary": "Get main page data",
        "operationId": "main",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main"
                }
              }
            }
          }
        }
      }
    },
    "/board": {
      "get": {
        "tags": [
          "board"
        ],
        "summary": "Get main page data",
        "operationId": "main",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          },
          {
            "name": "board",
            "in": "query",
            "description": "Board number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "page",
            "in": "query",
            "description": "Board page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/posts"
                }
              }
            }
          }
        }
      }
    },
    "/board/post": {
      "get": {
        "tags": [
          "board"
        ],
        "summary": "Get post",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          },
          {
            "name": "post",
            "in": "query",
            "description": "Post number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inner_post"
                }
              }
            }
          }
        }
      }
    },
    "/board/post/add": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Add new Post",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/board_add"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to add",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to add",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/board/post/update": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Update Post",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/board_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/board/post/delete": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Delete Post",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/board_delete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/board/reply/add": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Add new Reply",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reply_add"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to add",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to add",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/board/reply/update": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Update Reply",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reply_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/board/reply/delete": {
      "post": {
        "tags": [
          "board"
        ],
        "summary": "Delete Reply",
        "operationId": "board",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "Post data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reply_delete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          },
          "403": {
            "description": "Failed to delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_failed"
                }
              }
            }
          }
        }
      }
    },
    "/support": {
      "get": {
        "tags": [
          "support"
        ],
        "summary": "Get support list",
        "operationId": "support_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          },
          {
            "name": "support",
            "in": "query",
            "description": "category",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/support_list"
                }
              }
            }
          }
        }
      }
    },
    "/support/add": {
      "get": {
        "tags": [
          "support"
        ],
        "summary": "Get additional support list",
        "operationId": "support_add",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          },
          {
            "name": "support",
            "in": "query",
            "description": "category",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "index",
            "in": "query",
            "description": "last page",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/support_add_list"
                }
              }
            }
          }
        }
      }
    },
    "/support/post": {
      "get": {
        "tags": [
          "support"
        ],
        "summary": "Get post",
        "operationId": "support_post",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Post number",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/support_post"
                }
              }
            }
          }
        }
      }
    },
    "/user/update": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Update user info",
        "operationId": "user_update",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "User data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_user_data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          }
        }
      }
    },
    "/user/interest": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Update user interest",
        "operationId": "user_interest",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "User interest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_interest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          }
        }
      }
    },
    "/user/post": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user post",
        "operationId": "user_post",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/posts"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Update user password",
        "operationId": "password_change",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "UID to run task",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        ],
        "requestBody": {
          "description": "User interest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/change_password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to get data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          }
        }
      }
    },
    "/update": {
      "post": {
        "tags": [
          "update"
        ],
        "summary": "Insert new Support",
        "operationId": "insert_support",
        "requestBody": {
          "description": "Support data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/support_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success to add data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "update"
        ],
        "summary": "Send new Support",
        "operationId": "insert_support",
        "responses": {
          "200": {
            "description": "Success to send",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_success"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Check_phone": {
        "title": "Check phone",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          }
        },
        "description": "User's phone number that want to check if there any duplicant"
      },
      "Check_phone_return_true": {
        "title": "Check phone return true",
        "type": "object",
        "properties": {
          "exist": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Result if there are duplicant"
      },
      "Check_phone_return_false": {
        "title": "Check phone return false",
        "type": "object",
        "properties": {
          "exist": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Result if there are no duplicant"
      },
      "Enroll_user_data": {
        "title": "Enroll user data",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "password": {
            "type": "string",
            "example": "asdf"
          },
          "name": {
            "type": "string",
            "example": "서강준"
          },
          "gender": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "age": {
            "type": "integer",
            "format": "int32",
            "example": 25
          },
          "address": {
            "type": "string",
            "example": "서울특별시 노원구 월계동 광운로 7길 14-4 B03"
          },
          "interest": {
            "$ref": "#/components/schemas/Interest"
          }
        },
        "description": "New user's data who want to register"
      },
      "Interest": {
        "title": "Interest",
        "type": "object",
        "properties": {
          "고령자": {
            "type": "boolean"
          },
          "한부모": {
            "type": "boolean"
          }
        },
        "description": "Interest that selected by user"
      },
      "Enroll_return_true": {
        "title": "Enroll return true",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Result if enrollment was success"
      },
      "Enroll_return_false": {
        "title": "Enroll return false",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Result if enrollment was failed"
      },
      "Login": {
        "title": "Login",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "password": {
            "type": "string",
            "example": "asdf"
          }
        },
        "description": "User's phone number and password to login"
      },
      "Login_return_success": {
        "title": "Login return success",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "logged in successfully"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZSI6IjAxMDEyMzQ1Njc4IiwibmFtZSI6IuyEnOqwleykgCIsImludGVyZXN0Ijp7IuqzoOugueyekCI6dHJ1ZSwi7ZWc67aA66qoIjp0cnVlfSwiaWF0IjoxNjE2NzczNjYxLCJleHAiOjE2MTczNzg0NjEsImlzcyI6ImJsdWVtYW5nby5tZSIsInN1YiI6InVzZXJJbmZvIn0.vQOPlz27fIeXYiuJenFe-nlt7Mh1eDR7Rn1MOlboXmQ"
          }
        },
        "description": "Return data when login process was success"
      },
      "Login_return_failed": {
        "title": "Login return failed",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "login failed"
          },
          "success": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Return data when login process was failed"
      },
      "Check_return_success": {
        "title": "Check return success",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "info": {
            "$ref": "#/components/schemas/User_data_info"
          }
        }
      },
      "Check_return_failed": {
        "title": "Check return failed",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "not logged in"
          }
        }
      },
      "User_data_info": {
        "title": "User data info",
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "example": "01012345678"
          },
          "name": {
            "type": "string",
            "example": "서강준"
          },
          "interest": {
            "$ref": "#/components/schemas/Interest"
          },
          "iat": {
            "type": "integer",
            "format": "int32",
            "example": 1615966303
          },
          "exp": {
            "type": "integer",
            "format": "int32",
            "example": 1616571103
          },
          "iss": {
            "type": "string",
            "example": "bluemango.me"
          },
          "sub": {
            "type": "string",
            "example": "userInfo"
          }
        }
      },
      "Zzim_list": {
        "title": "Zzim List",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "저소득층 지원사업"
          },
          "content": {
            "type": "string",
            "example": "돈줍니다"
          }
        }
      },
      "Board_list": {
        "title": "Board List",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          }
        }
      },
      "Highest_post": {
        "title": "Highest Post",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "category": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "like": {
            "type": "integer",
            "format": "int32",
            "example": 10
          }
        }
      },
      "main": {
        "title": "Main Data",
        "type": "object",
        "properties": {
          "board": {
            "type": "object",
            "properties": {
              "0": {
                "$ref": "#/components/schemas/Board_list"
              },
              "1": {
                "$ref": "#/components/schemas/Board_list"
              },
              "2": {
                "$ref": "#/components/schemas/Board_list"
              },
              "3": {
                "$ref": "#/components/schemas/Board_list"
              },
              "4": {
                "$ref": "#/components/schemas/Board_list"
              },
              "5": {
                "$ref": "#/components/schemas/Board_list"
              }
            }
          },
          "zzim": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Zzim_list"
            }
          },
          "high": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Highest_post"
            }
          }
        }
      },
      "post": {
        "title": "Post",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "category": {
            "type": "string",
            "example": "장애인"
          },
          "like": {
            "type": "integer",
            "format": "int32",
            "example": 10
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2021-03-27T07:54:53.000Z"
          },
          "reply_count": {
            "type": "integer",
            "format": "int32",
            "example": 3
          }
        }
      },
      "posts": {
        "title": "Posts",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/post"
        }
      },
      "support_posts": {
        "title": "posts",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "제목입니다1"
          },
          "content": {
            "type": "string",
            "example": "내용입니다1"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-09-16T06:35:10.000Z"
          }
        }
      },
      "support_add": {
        "title": "posts",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "제목입니다(추가)"
          },
          "content": {
            "type": "string",
            "example": "내용입니다(추가)"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-09-16T06:35:10.000Z(추가)"
          }
        }
      },
      "support_post_item": {
        "title": "posts",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "제목입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "url": {
            "type": "string",
            "example": "url입니다"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-09-16T06:35:10.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2020-09-16T06:35:10.000Z"
          }
        }
      },
      "reply": {
        "title": "Reply",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "uid": {
            "type": "string",
            "example": "이름"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2021-03-27T07:54:53.000Z"
          },
          "double_reply": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/double_reply"
            }
          }
        }
      },
      "double_reply": {
        "title": "Double reply",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "uid": {
            "type": "string",
            "example": "이름"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2021-03-27T07:54:53.000Z"
          }
        }
      },
      "support_list": {
        "title": "posts",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/support_posts"
        }
      },
      "support_add_list": {
        "title": "posts",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/support_add"
        }
      },
      "support_post": {
        "title": "post",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/support_post_item"
        }
      },
      "inner_post": {
        "title": "Post",
        "type": "object",
        "properties": {
          "post": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "example": 1
              },
              "title": {
                "type": "string",
                "example": "포스트입니다"
              },
              "content": {
                "type": "string",
                "example": "내용입니다"
              },
              "category": {
                "type": "string",
                "example": "장애인"
              },
              "like": {
                "type": "integer",
                "format": "int32",
                "example": 10
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2021-03-27T07:54:53.000Z"
              }
            }
          },
          "reply": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/reply"
            }
          }
        }
      },
      "board_success": {
        "title": "Board Success",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "board_failed": {
        "title": "Board Failed",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "board_add": {
        "title": "Board add",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "포스트입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          },
          "category": {
            "type": "string",
            "example": "장애인"
          }
        }
      },
      "board_update": {
        "title": "Board update",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "포스트입니다"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          }
        }
      },
      "board_delete": {
        "title": "Board delete",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          }
        }
      },
      "reply_add": {
        "title": "Reply add",
        "type": "object",
        "properties": {
          "m_id": {
            "type": "integer",
            "format": "int32",
            "example": "부모 댓글 id 대댓아니면 0 int형임"
          },
          "post_id": {
            "type": "integer",
            "format": "int32",
            "example": "해당 개시글의 id int형임"
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          }
        }
      },
      "reply_update": {
        "title": "Reply update",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "string",
            "example": "내용입니다"
          }
        }
      },
      "reply_delete": {
        "title": "Reply delete",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          }
        }
      },
      "Update_user_data": {
        "title": "Update user data",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "서울특별시 노원구 월계동 광운로 7길 14-4 B03"
          }
        }
      },
      "update_interest": {
        "title": "Update interest",
        "type": "object",
        "properties": {
          "interest": {
            "$ref": "#/components/schemas/Interest"
          }
        }
      },
      "change_password": {
        "title": "Change Password",
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "example": "asdf"
          }
        }
      }
    }
  }
}
